---
import Layout from '../layouts/Layout.astro';
import MainView from '../components/MainView'
import '@/index.css'
import { Toaster } from "@/components/ui/sonner"


---

<Layout title="Подяка">
	<main>
		<MainView client:load />
	</main>
	<Toaster client:load />
</Layout>
